/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-example-inner-block {
	&.is-selected, &.has-child-selected{
		display: grid;
		grid-template-columns: 1fr 1fr;
		figure:nth-of-type(1){
			position: relative;
			transform: none;
		}
		figure:nth-of-type(2){
			position: relative;
			transform: none;
		}
	}
}
